<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="SkypeChatUniqueCode" value="skypechatCode" />
      <add key="SkypeBotName" value="evgwed" />
      <add key="SlackUrlWithAccessToken" value="slackwebhookurl" />
      <add key="SlackWebHookName" value="skype-webhook" />
      <add key="SlackChannelName" value="#channelname" />
    </appSettings>
</configuration>